<footer class="card text-center footer">
  <div class="card-body">
    <div class="cont-text">
      <div>
        <a href="http://facebook.com/ARIGaleriadeArte/" rel="nofollow noopener noreferrer" target="_blank" class="m-4">
          <img loading="lazy" src="assets/icons/facebook-f-brands.svg" alt="" width="30">
        </a>
      </div>
      <div>
        <a href="http://twitter.com/Ari_Galeria" rel="nofollow noopener noreferrer" target="_blank" class="m-4">
          <img loading="lazy" src="assets/icons/twitter-brands.svg" alt="" width="30">
        </a>
      </div>
      <div>
        <a href="http://www.instagram.com/arigaleria" rel="nofollow noopener noreferrer" target="_blank" class="m-4">
          <img loading="lazy" src="assets/icons/instagram-brands.svg" alt="" width="30">
        </a>
      </div>
    </div>

  </div>
  <div class="card-footer text-muted bg-footer">
    © 2020 Copyright:
    <a href="http://arigaleriadearte.com" class="text-decoration-none text-primary"> arigaleriadearte.com</a>
  </div>
</footer>
