<section class="div-fluid pt-5 bg-beige pb-5">
  <div class="container">
    <h3 class="text-muted text-center">Visitanos en</h3>
    <p class="text-center text-dark">
      Av. 27 de Febrero entre el OXXO y la Taquería el Yucatequito, enfrente del Monumento al
      Bicentenario de la Independencia
    </p>
    <div class="row mt-5">
      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
        <div class="maps w-100 h-100">
<!--          <iframe loading="lazy"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15179.1576527286!2d-92.9197261!3d17.9885319!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x20f40fcf8e5f1c1e!2sGaler%C3%ADa%20de%20Arte%20%22ARI%22!5e0!3m2!1ses-419!2smx!4v1573368150520!5m2!1ses-419!2smx"
            class="w-100" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>-->
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li>
            <fa-icon [icon]="marker" class="contacto-icon"></fa-icon>
            <p class="text-muted">Villahermosa, TAB 86077, México</p>
          </li>

          <li>
            <fa-icon [icon]="phone" class="contacto-icon"></fa-icon>
            <p class="text-muted">Lic. Manuel (Dir. General)</p>
            <p class="text-muted">+ 52 993 396 7702</p>
          </li>

          <li>
            <fa-icon [icon]="email" class="contacto-icon"></fa-icon>
            <p class="text-muted">contacto@arigaleria.com</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

    </div>

  </div>
</section>

