<div class="div-fluid">
  <div class="container">
<h3 class="text-muted">Cuadros populares</h3>

    <div class="card-columns">
      <div class="card">
        <img src="../../assets/img/obra1-min.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card">
          <img src="../../assets/img/obra2-min.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card">
        <img src="../../assets/img/obra3-min.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card">
          <img src="../../assets/img/obra4-min.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card">
          <img src="../../assets/img/obra5-min.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card">
        <img src="../../assets/img/obra6.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card">
          <img src="../../assets/img/obra7.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card">
          <img src="../../assets/img/obra8.jpg" class="card-img-top" alt="...">
      </div>

      <div class="card">
          <img src="../../assets/img/obra9.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
