<div class="w-100 vh-100 cont-load" *ngIf="!Esculturas">
  <div class="text-center">
    <img src="assets/icons/load.gif" alt="load" width="50%">
  </div>
</div>

<div class="w-100 div-top bg-beige" *ngIf="Esculturas">
  <div class="container pt-3">
    <h3>Esculturas Ari Galeria de Arte</h3>


    <mat-divider></mat-divider>
    <div class="card-columns mt-3">
      <div class="card card-cont" *ngFor="let esculturas of Esculturas; index as i">
        <a class="btn-view" data-toggle="modal" href="#escultura{{i}}">
          <img loading="lazy" src="{{esculturas.esc_foto}}" class="card-img-top" alt="Obras">
        </a>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="text-muted">Titulo:</span> {{esculturas.esc_nombre}}</li>
            <li class="list-group-item"><span
              class="text-muted">Autor:</span> {{esculturas.aut_nombre + ' ' + esculturas.aut_apellidos}}</li>
            <li class="list-group-item"><span class="text-muted">Precio:</span> $ {{esculturas.esc_precio}}</li>
            <li class="list-group-item">
              <button [matMenuTriggerFor]="menu" class="btn btn-sm btn-primary">Detalles
                <fa-icon [icon]="faeye"></fa-icon>
              </button>
            </li>
          </ul>
        </div>

        <!--Modal-->
        <div class="modal fade" id="escultura{{i}}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content bg-dark">
              <img loading="lazy" src="{{esculturas.esc_foto}}" alt="" class="preview_img cover img-modal" style="width:auto">
            </div>
          </div>
        </div>

        <!--Menu view-->
        <mat-menu #menu="matMenu">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="text-muted">Año:</span> {{esculturas.esc_anio}}</li>
            <li class="list-group-item"><span class="text-muted">Estado:</span> {{esculturas.esc_estado}}</li>
            <li class="list-group-item"><span class="text-muted">Material:</span> {{esculturas.esc_material}}</li>
            <li class="list-group-item"><span class="text-muted">Alto:</span> {{esculturas.esc_ancho}} CM</li>
            <li class="list-group-item"><span class="text-muted">Ancho:</span> {{esculturas.esc_alto}} CM</li>
          </ul>
        </mat-menu>
      </div>

    </div>


  </div>
</div>
