<div class="w-100 vh-100 cont-load" *ngIf="!Obras">
  <div class="text-center">
    <img src="assets/icons/load.gif" alt="load" width="50%">
  </div>
</div>

<div class="w-100 div-top bg-beige" *ngIf="Obras">
  <div class="container pt-3">
    <h3>Obras Ari Galeria de Arte</h3>


    <mat-divider></mat-divider>
<!--        <mat-paginator [length]="118"
                       [pageSize]="page_size"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="handlePage($event)"
                       showFirstLastButtons>
        </mat-paginator>-->
    <div class="card-columns mt-3">
<!--      <div class="card card-cont" *ngFor="let obras of Obras | paginate:page_size:page_number">-->
      <div class="card card-cont" *ngFor="let obras of Obras; index as i">
        <a class="btn-view" data-toggle="modal" href="#cuadro{{i}}">
          <img loading="lazy" src="{{obras.obr_foto}}" class="card-img-top" alt="Obras">
        </a>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="text-muted">Titulo:</span> {{obras.obr_nombre}}</li>
            <li class="list-group-item"><span class="text-muted">Autor:</span> {{obras.aut_nombre + ' ' + obras.aut_apellidos}}</li>
            <li class="list-group-item"><span class="text-muted">Precio:</span> $ {{obras.obr_precio}}</li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-8">
                  <button [matMenuTriggerFor]="menu" class="btn btn-sm btn-primary">Detalles
                    <fa-icon [icon]="faeye"></fa-icon>
                  </button>
                </div>
                <div class="col-4 text-right">
                  <a class="mr-auto" href="https://api.whatsapp.com/send?phone=529934341808&amp;text=Estoy%20interesado%20en la obra {{obras.obr_nombre}} del autor {{obras.aut_nombre + ' ' + obras.aut_apellidos}}." target="_blank"><img src="assets/icons/brands.svg" alt="whatsapp" width="35px"></a>
                </div>
              </div>


            </li>
          </ul>
        </div>
        <!--Modal-->
        <div class="modal fade" id="cuadro{{i}}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content bg-dark">
                <img loading="lazy" src="{{obras.obr_foto}}" alt="" class="preview_img" style="width:auto">
            </div>
          </div>
        </div>

        <!--Menu view-->
        <mat-menu #menu="matMenu">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="text-muted">Año:</span> {{obras.obr_anio}}</li>
            <li class="list-group-item"><span class="text-muted">Estado:</span> {{obras.obr_estado}}</li>
            <li class="list-group-item"><span class="text-muted">Tecnica:</span> {{obras.obr_tecnica}}</li>
            <li class="list-group-item"><span class="text-muted">Alto:</span> {{obras.obr_alto}} CM</li>
            <li class="list-group-item"><span class="text-muted">Ancho:</span> {{obras.obr_ancho}} CM</li>
          </ul>
        </mat-menu>
      </div>

    </div>
  </div>
</div>

