/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.div-fluid {
  width: 100%;
  height: auto;
}
.bg-beige {
  background: #FAFAFA;
}
.cont-card {
  min-height: 600px;
}

.cont-card img {
  height: 270px;
}
.div-top {
  margin-top: 60px;
}
.preview_img {
  height: 90vh;
}
@media (max-width: 570px) {
  .preview_img {
    height: 300px;
  }
}
.edgar {
  width: 500px;
}
