.card-cont {
  min-height: 500px;
  height: auto;
  background: rgba(255,255,255,0.8);
/*  background: rgba(255,255,255,255);*/
}
.bg-event {
  background-image: url('../../assets/img/event6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-event {
  background: #EEEEEE;
}
.text-marino {
  color: #001633;
}
