.card-cont {
  min-height: 500px;
  background: rgba(253,254,254,0.3);
}
.bg-event {
  background-image: url('/assets/img/event.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-event {
  background: #EEEEEE;
}
.text-marino {
  color: #001633;
}
